<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <title>Symfony template</title>
        <link rel="stylesheet" href="/layouts/spacelab/css/bootstrap.css">
        <link rel="stylesheet" href="/layouts/spacelab/css/custom.min.css">
        <link rel="stylesheet" href="/layouts/spacelab/css/font-awesome.min.css">
        <link rel="stylesheet" href="/layouts/spacelab/css/prism-okaidia.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    </script>
</head>
<body>
    <div class="bs-docs-section clearfix">
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>
